[Unit]
Description=Screen Button Toggle
Before=
After=network.target

[Service]
ExecStart=/opt/screenbutton/screenbutton 26
Restart=on-abort
StandardOutput=journal

[Install]
WantedBy=multi-user.target